{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block title%}Lista de Mediuns{% endblock %}

{% block main %}
    <h1 class="home">Lista de Mediuns</h1>

    <ul>
        {% for mediuns in listamediuns %}
        <li>
            <a href="{% url 'cadmediuns_update' mediuns.id %}">{{ mediuns.nome }}</a>
            <a href="{% url 'cadmediuns_delete' mediuns.id %}">Deletar</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'cadmediuns_insert' %}">Novo</a>
    <img src="{% static "img/owl-s2-it-peq.jpg" %}" alt="My image"/>
{% endblock %}